@import "tailwindcss";

@theme {
  --font-logo: 'General Sans', sans-serif;
  --text-sm: 0.813rem;
  
  --color-black-950: #252627;
  --color-black-900: #2d2e2f;
  --color-black-800: #333638;
  --color-black-700: #424548;
  --color-black-600: #494d50;
  --color-black-500: #575c60;
  --color-black-400: #73787d;
  --color-black-300: #acb3b9;
  --color-black-200: #c8ccd0;
  --color-black-100: #e3e6e8;
  --color-black-50: #f9fafa;
  
  --color-gold-50: #fdf1d3;
  --color-gold-100: #fae3a8;
  --color-gold-200: #f9d886;
  --color-gold-300: #957932;
  --color-gold-400: #6b5724;
  --color-gold-500: #413516;
}

body {
  @apply bg-black-950 text-black-100;
}


